@layer blocks {
	.cards ul {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
		grid-gap: var(--gutter-spacing);
	}

	.card-image img {
		aspect-ratio: 4 / 3;
		object-fit: cover;
	}
}
