@layer blocks {
	.column-grid {
		align-items: var(--column-align, center);
		display: grid;
		gap: var(--column-gap);
	}
	
	.column-image {
		width: 100%;
	}

	@media (max-width: 899px) {
		.column-image:first-child {
			order: 1;
		}
	}
	
	@media (min-width: 900px) {
		.column-grid {
			grid-auto-flow: column;
			grid-auto-columns: 1fr;
		}
	
		.column-image:last-child {
			grid-row-start: unset;
		}
	}
}
