@layer blocks {
	.column-grid {
		align-items: center;
		display: grid;
		gap: var(--column-gap);
	}
	
	.column-image {
		width: 100%;
	}
	
	.column-image:last-child {
		grid-row-start: -1;
	}
	
	@media (min-width: 900px) {
		.column-grid {
			grid-auto-flow: column;
			grid-auto-columns: 1fr;
		}
	
		.column-image:last-child {
			grid-row-start: unset;
		}
	}
}
