@layer blocks {
	.header-wrapper {
		background-color: rgb(var(--primary-background-color));
		padding-block: 1.6rem;
	}

	.header {
		max-width:
			min(
				calc(100% - calc(var(--section-gutter, var(--gutter-spacing)) * 2)),
				var(--section-max-width, var(--max-width))
			);
		margin-inline: auto;
	}

	.nav-wrapper nav {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	.nav-brand {
		max-width: 20rem;
	}

	.nav-sections ul {
		display: flex;
		gap: 2rem;
	}

	.nav-sections a {
		text-decoration: none;
	}
}

@media (min-width: 900px) {
}

/* hamburger */
header nav .nav-hamburger {
	grid-area: hamburger;
	height: 22px;
	display: flex;
	align-items: center;
}

header nav .nav-hamburger button {
	height: 22px;
	margin: 0;
	border: 0;
	border-radius: 0;
	padding: 0;
	background-color: rgb(var(--background-color));
	color: inherit;
	overflow: initial;
	text-overflow: initial;
	white-space: initial;
}

header nav .nav-hamburger-icon,
header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
	box-sizing: border-box;
	display: block;
	position: relative;
	width: 20px;
}

header nav .nav-hamburger-icon::before,
header nav .nav-hamburger-icon::after {
	content: '';
	position: absolute;
	background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon,
header nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav[aria-expanded="false"] .nav-hamburger-icon::after {
	height: 2px;
	border-radius: 2px;
	background: currentcolor;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::before {
	top: -6px;
}

header nav[aria-expanded="false"] .nav-hamburger-icon::after {
	top: 6px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon {
	height: 22px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav[aria-expanded="true"] .nav-hamburger-icon::after {
	top: 3px;
	left: 1px;
	transform: rotate(45deg);
	transform-origin: 2px 1px;
	width: 24px;
	height: 2px;
	border-radius: 2px;
}

header nav[aria-expanded="true"] .nav-hamburger-icon::after {
	top: unset;
	bottom: 3px;
	transform: rotate(-45deg);
}

@media (min-width: 900px) {
	header nav .nav-hamburger {
		display: none;
		visibility: hidden;
	}
}
