@layer blocks {
	.header-wrapper {
		background-color: rgb(var(--primary-background-color));
		padding-block: 1.6rem;
		position: relative;
	}

	.header {
		max-width:
			min(
				calc(100% - calc(var(--section-gutter, var(--gutter-spacing)) * 2)),
				var(--section-max-width, var(--max-width))
			);
		margin-inline: auto;
	}

	.nav-wrapper nav {
		align-items: center;
		display: flex;
		gap: 2.4rem;
	}

	.nav-brand {
		max-width: 20rem;
	}

	.nav-sections a {
		text-decoration: none;
	}

	.nav-hamburger button {
		align-content: space-between;
		display: grid;
		height: var(--hamburger-height, 1.6rem);
		width: 2rem;
	}

	
	.nav-hamburger-icon,
	.nav-hamburger button::before,
	.nav-hamburger button::after {
		background-color: rgb(0 103 120);
		border-radius: 2px;
		position: relative;
		height: .2rem;
		width: 100%;
	}

	.nav-hamburger-icon {
		transition: rotate 300ms ease-in-out;
	}

	.nav-hamburger button::before {
		transition: rotate 300ms ease-in-out, translate 300ms ease-in-out 300ms;
	}
	
	.nav-hamburger button::before,
	.nav-hamburger button::after {
		content: '';
	}

	.nav-hamburger button::after {
		transition: opacity 300ms ease-in-out 300ms, translate 300ms ease-in-out 300ms;
	}
	
	[aria-expanded='true'] .nav-hamburger button {
		--hamburger-move: .7rem;
	}

	[aria-expanded='true'] .nav-hamburger button .nav-hamburger-icon {
		transition: rotate 300ms ease-in-out 300ms;
	}
	
	[aria-expanded='true'] .nav-hamburger button .nav-hamburger-icon {
		rotate: -45deg;
	}
	
	[aria-expanded='true'] .nav-hamburger button::before {
		transition: translate 300ms ease-in-out, rotate 300ms ease-in-out 300ms;
		translate: 0 var(--hamburger-move);
		rotate: 45deg;
	}
	
	[aria-expanded='true'] .nav-hamburger button::after {
		opacity: 0;
		translate: 0 calc(var(--hamburger-move) * -1);
		transition: translate 300ms ease-in-out;
		transition: opacity 300ms ease-in-out;
	}

	@media (max-width: 899px) {
		.nav-wrapper nav[aria-expanded='true'] {
			--dropdown-height: 1fr;
		}

		.nav-brand {
			margin-inline-end: auto;
		}

		.nav-sections {
			background-color: rgb(245 251 255);
			display: grid;
			grid-template-rows: var(--dropdown-height, 0fr);
			left: 0;
			pointer-events: none;
			position: absolute;
			transition: grid-template-rows 300ms ease-in-out;
			top: 100%;
			width: 100%;
			z-index: 1;
		}

		.nav-sections ul {
			overflow: hidden;
		}

		.nav-sections li {
			border-block-end: .1rem solid rgb(210 220 230);
		}

		.nav-sections a {
			display: block;
			padding: 1.6rem 2rem;
		}
	}

	@media (min-width: 900px) {
		.nav-wrapper nav {
			justify-content: space-between;
		}

		.nav-sections ul {
			display: flex;
			gap: 2rem;
		}

		.nav-hamburger {
			display: none;
		}
	}
}
