@layer blocks {
	.hero-container {
		--section-spacing: 3.2rem;

		position: relative;
		isolation: isolate;
	}

	.hero-container {
		color: rgb(var(--background-color));
		min-height: 300px;
	}

	.hero-container picture {
		position: absolute;
		z-index: -1;
		inset: 0;
		object-fit: cover;
	}

	.hero-container img {
		height: 100%;
		object-fit: cover;
	}
}
