@layer blocks {
	.footer-wrapper {
		--link-color: 255 255 255;
		
		background: linear-gradient(180deg, rgb(33 36 59) 0%, rgb(0 0 0) 100%);
		padding-block: 11.6rem;
	}

	.footer {
		color: rgb(var(--link-color));
		max-width:
			min(
				calc(100% - calc(var(--section-gutter, var(--gutter-spacing)) * 2)),
				var(--section-max-width, var(--max-width))
			);
		margin-inline: auto;
	}

	.footer .column-grid > div {
		display: contents;
	}

	.footer-links {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}
