@layer blocks {
	.footer-wrapper {
		background-color: rgb(var(--overlay-background-color));
		padding: 2rem;
	}

	.footer {
		max-width:
			min(
				calc(100% - calc(var(--section-gutter, var(--gutter-spacing)) * 2)),
				var(--section-max-width, var(--max-width))
			);
		margin-inline: auto;
	}

	.footer .column-grid > div {
		display: contents;
	}

	.footer-links {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}
