@layer utility, core, blocks, overrides;

@layer utility {
	:root {
		/* Colors */
		--text-color: 112 112 112;
		--link-color: 0 103 120;
		--link-hover-color: 44 69 84;
		--primary-background-color: 233 240 244;
		--background-color: 255 255 255;
		--overlay-background-color: 238 238 238;
		--highlight-background-color-1: 251 251 251;
		--highlight-background-color-2: 245 251 255;
		--color-focus-visible: 242 47 70;
		--title-gradient-color-start: 253 133 0;
		--title-gradient-color-end: 255 183 6;
	
		/* fonts */
		--body-font-family: 'helvetica neue', helvetica, ubuntu, roboto, noto, sans-serif;
		--heading-font-family: var(--body-font-family);
		--fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;
	
		/* Line Heights */
		--line-height-body: 1.6;
		--line-height-titles: 1.2;
	
		/* Body Sizes */
		--body-font-size-m: 2.2rem;
		--body-font-size-s: 1.8rem;
		--body-font-size-xs: 1.6rem;
	
		/* Heading Sizes */
		--heading-font-size-xxl: 4.8rem;
		--heading-font-size-xl: 4.0rem;
		--heading-font-size-l: 3.2rem;
		--heading-font-size-m: 2.4rem;
		--heading-font-size-s: 2.0rem;
		--heading-font-size-xs: 1.8rem;

		/* Heading Bar */
		--title-bar-height: .4rem;
		--title-bar-width: 9.3rem;
	
		/* Spacing Sizes */
		--spacing-sm: 1rem;
		--gutter-spacing: 1.6rem;
		--column-gap: 6rem;
		--max-width: 120rem;
	}
	
	@media (min-width: 900px) {
		:root {
			--heading-font-size-xxl: 6.0rem;
			--heading-font-size-xl: 4.8rem;
			--heading-font-size-l: 3.6rem;
			--heading-font-size-m: 3.0rem;
			--heading-font-size-s: 2.4rem;
			--heading-font-size-xs: 2.2rem;
		}
	}

	@media (min-width: 1200px) {
		:root {
			--column-gap: 10.5rem;
		}
	}

	html {
		color: rgb(var(--text-color));
		font-size: 62.5%;
		font-family: var(--body-font-family);
		line-height: var(--line-height-body);
		/* stylelint-disable property-no-vendor-prefix  */
		-ms-overflow-style: scrollbar;
		-ms-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%;
		-webkit-tap-highlight-color: rgb(0 0 0 / 0%);
		/* stylelint-enable property-no-vendor-prefix  */
	}

	body {
		font-size: var(--body-font-size-xs);
		margin: 0;
	}

	body:not(.appear) {
		display: none;
	}

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	svg {
		display: block;
		height: 100%;
		width: 100%;
	}
}

@layer core {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		margin-block: 0;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		line-height: var(--line-height-titles);
	}

	h1 {
		font-size: var(--heading-font-size-xxl);
		margin-block-end: 1.6rem;
	}

	h2 {
		font-size: var(--heading-font-size-xl);
		margin-block-end: 2.4rem;
	}

	h2::before {
		background: linear-gradient(90deg, rgba(var(--title-gradient-color-start)) 0%, rgba(var(--title-gradient-color-end)) 100%);
		content: '';
		display: block;
		height: var(--title-bar-height);
		margin-block-end: 2.4rem;
		width: var(--title-bar-width);
	}

	h3 {
		font-size: var(--heading-font-size-l)
	}

	h4 {
		font-size: var(--heading-font-size-m)
	}

	h5 {
		font-size: var(--heading-font-size-s)
	}

	h6 {
		font-size: var(--heading-font-size-xs)
	}

	p + p,
	h2 + p {
		margin-block-start: var(--spacing-sm);
	}

	a {
		color: rgb(var(--link-color));
		transition: color 300ms ease-in-out;
	}

	a:active,
	a:focus {
		color: inherit;
		outline: 0;
	}

	a:not(.button):hover {
		color: rgb(var(--link-hover-color));
	}

	a:focus-visible {
		outline: .2rem solid rgb(var(--color-focus-visible));
	}

	input,
	button,
	textarea,
	select,
	cite,
	label {
		font: inherit;
	}

	img {
		display: block;
		height: auto;
		max-width: 100%;
		width: 100%;
	}

	:where(ul, ol) {
		list-style: none;
		margin-block: 0;
		padding-inline-start: 0;
	}

	button {
		border: none;
		background: none;
		cursor: pointer;
		padding: 0;
	}

	.section {
		padding-block: var(--section-spacing, 5.2rem);
	}

	.section:nth-child(2) {
		background-color: rgb(var(--highlight-background-color-1));
	}

	.section:nth-child(2n + 4) {
		background-color: rgb(var(--highlight-background-color-2));
	}

	.section :where(h1, h2, h3) {
		color: rgb(44 69 84);
	}

	/* buttons */
	.button {
		align-items: center;
		font-family: var(--body-font-family);
		display: inline-flex;
		border: .2rem solid var(--button-border-color, transparent);
		padding: .5rem 3rem;
		text-align: center;
		font-style: normal;
		font-weight: 600;
		gap: .7rem;
		cursor: pointer;
		color: rgb(var(--button-color, var(--background-color)));
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		border-radius: 3rem;
		text-decoration: none;
		transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out, color 300ms ease-in-out;
	}

	.button span {
		align-items: center;
		display: grid;
		height: .8rem;
		width: 1rem;
	}

	.button span::before,
	.button span::after {
		content: '';
		grid-column: 1;
		grid-row: 1;
	}
	
	.button span::before {
		background-color: currentColor;
		height: 0.2rem;
		width: 100%;
	}

	.button span::after {
		border-top: .2rem solid currentColor;
		border-right: .2rem solid currentColor;
		height: .8rem;
		justify-self: end;
		rotate: 40deg;
		width: .8rem;
	}
	
	.button-primary {
		background-color: rgb(var(--button-background, var(--link-color)));
	}
	
	.button-primary:hover {
		--button-background: var(--link-hover-color);
	}

	.button-secondary {
		--button-color: var(--text-color);
		--button-border-color: currentcolor;
	}

	.button-secondary:hover {
		--button-color: 0 192 181;
	}

	input {
		font-size: 1.25rem;
		width: 100%;
		max-width: 50rem;
		display: block;
		margin-bottom: 1rem;
		padding: 0.75rem 0.6rem;
		border-radius: 0.25rem;
		border: 1px solid var(--text-color);
		color: var(--text-color);
		background-color: var(--background-color);
	}
	
	input:hover {
		border: 1px solid var(--text-color);
	}

	.icon {
		display: inline-block;
		height: 2.4rem;
		width: 2.4rem;
	}

	.eyebrow p:first-child {
		color: rgb(72 98 132);
		font-size: 1.8rem;
		margin-block-end: 2.4rem;
	}

	.section > div {
		max-width:
			min(
				calc(100% - calc(var(--section-gutter, var(--gutter-spacing)) * 2)),
				var(--section-max-width, var(--max-width))
			);
		margin-inline: auto;
	}

	.hero img {
		max-width: var(--hero-img-width, 24rem);
	}

	.card-grid {
		--card-grid-background-color: 245 251 255;
		--card-gap: 2rem;
	}

	.card-small-gap {
		--card-gap: 2.4rem;
	}

	.card-grid.two-columns {
		--card-columns: 2;
	}

	.card-grid.three-columns {
		--card-columns: 2;
	}

	.card-grid.small-logo img {
		max-width: 4.4rem;
	}

	.card-grid ul {
		display: grid;
		grid-template-columns: repeat(var(--card-columns), 1fr);
		grid-gap: var(--card-gap);
	}
	
	.card-grid li {
		background-color: rgb(var(--card-grid-background-color));
		border-radius: 2rem;
	}
	
	.card-grid.logo-cards li {
		align-content: center;
		display: grid;
		padding: 2.4rem;
		min-height: 16rem;
	}

	.card-grid:not(.logo-cards) li {
		display: flex;
		font-size: var(--card-text, 3.2rem);
		font-weight: 300;
		flex-direction: column;
		gap: 1.6rem;
		padding: 2.4rem;
	}

	.card-grid:not(.logo-cards) li strong {
		font-size: var(--card-strong-text, 2rem);
	}

	.card-grid.with-shadow li {
		--card-grid-background-color: 255 255 255;
		box-shadow: 8px 8px 8px rgb(0 0 0 / 0.04);
	}

	.accordian-group {
		background-color: rgb(255 255 255);
		box-shadow: .8rem .8rem .8rem rgb(0 0 0 / .04);
		border-radius: 16px;
	}

	h3 + .accordian-group {
		margin-block-start: 2.4rem;
	}
	
	.accordian-group button {
		--icon-color: 255 146 2;

		align-items: center;
		border-block-end: .1rem solid rgb(232 232 232);
		display: flex;
		gap: 2rem;
		padding: 1.6rem 2.4rem 1.6rem 1.6rem;
		text-align: left;
		width: 100%;
	}

	.accordian-group button:has(img) {
		padding-inline-start: .8rem;
	}

	.accordian-group button[aria-expanded='true'] {
		--icon-color: 124 152 171;
		--icon-opacity: 0;
	}

	.accordian-group picture,
	.accordian-group span {
		flex-shrink: 0;
	}
	
	.accordian-group img {
		width: var(--accordian-image-size, 4.8rem);
	}

	.accordian-group strong {
		color: rgb(0 103 120);
		font-size: 1.8rem;
		font-weight: 700;
		text-transform: uppercase;
	}

	.accordian-group span {
		border: .2rem solid rgb(var(--icon-color));
		border-radius: .6rem;
		display: grid;
		height: 2rem;
		margin-inline-start: auto;
		place-items: center;
		width: 2rem;
		transition: border-color 300ms ease-in-out;
	}

	.accordian-group span::before,
	.accordian-group span::after {
		background-color: rgb(var(--icon-color));
		content: '';
		grid-column: 1;
		grid-row: 1;
		transition: background-color 300ms ease-in-out;
	}

	.accordian-group span::before {
		height: 0.8rem;
		opacity: var(--icon-opacity, 1);
		width: 0.2rem;
		transition: opacity 300ms ease-in-out;
	}

	.accordian-group span::after {
		height: 0.2rem;
		width: 0.8rem;
	}

	.accordian-dropdown {
		display: grid;
		grid-template-rows: var(--dropdown-height, 0fr);
		pointer-events: none;
		transition: grid-template-rows 300ms ease-in-out;
	}
	
	.accordian-dropdown[aria-hidden='false'] {
		--dropdown-height: 1fr;

		pointer-events: auto;
	}
	
	.accordian-dropdown li {
		overflow: hidden;
		transition: padding 300ms ease-in-out;
		padding: var(--dropdown-y-padding, 0) 1.6rem;
	}
	
	.accordian-dropdown[aria-hidden='false'] li {
		--dropdown-y-padding: 1.6rem;
	}

	.accordian-link-container {
		display: flex;
		flex-wrap: wrap;
		gap: 2.4rem;
		margin-block-start: 4rem;
	}

	@media (min-width: 600px) {
		.hero {
			--hero-img-width: 32rem;
		}
	}

	@media (min-width: 900px) {
		.section {
			--section-spacing: 6.4rem;
		}

		.hero {
			--hero-img-width: 100%;
		}

		.card-grid {
			--card-text: 4rem;
			--card-strong-text: 2.4rem;
			--card-gap: 2rem;
		}
		
		.accordian-group img {
			--accordian-image-size: 6.4rem;
		}
	}
	
	@media (min-width: 1200px) {
		.card-grid.three-columns {
			--card-columns: 3;
		}
	}
}
